.modal-window {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }
  
  .modal-window.active {
    transform: scale(1);
  }
  
  .modal-content {
    transform: scale(0);
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 1s;
    width: 400px;
    height: 400px;
  }
  
  .modal-content.active {
    transform: scale(1);
  }
  
  .modal-login-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-login-button {
    cursor: pointer;
    align-self: center;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    background-color: deepskyblue;
    color: #ffffff;
    border-color: #ffffffc0;
    font-family: 'Roboto', sans-serif;
  }